// NAVS ====================================

.navbar {
  position: fixed;
  z-index: $zi-navbar;
  width: 100%;
  top: 0;
  left: 0;
  background-color: #fff;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.15);
}

.nav {
  margin-bottom: 0;

  a {
    line-height: 3.75rem;
    padding: 0 1.25rem;
    color: $gray-light;
    transition: .15s ease-out;
    white-space: nowrap;
  }

  a:hover,
  a:focus,
  a.active {
    color: $gray;
    background-color: $gray-lightest;
    text-decoration: none;
  }

  li, a {
    display: inline-block;
  }

  .dropdown-menu {
    border-top: 1px solid $gray-lightest;
    border-bottom-right-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  .dropdown-menu a {
    line-height: 2.75rem;
  }

  .dropdown-menu li,
  .dropdown-menu a {
    display: block;
  }

  .btn {
    margin-top: -4px;
    margin-left: 1rem;
  }
}

.nav-main {
  float: left;
}

.nav-user {
  float: right;
}

// Override previous nav background
.nav .logo {
  &:hover,
  &:focus {
    background-color: transparent;
    opacity: .75;
  }

  img {
    width: 115px;
  }
}

// CONTENT ====================================

.site {
  background: $gray-lightest;
}

.content {
  margin-top: 3.75rem;
}

.content-header {
  padding-top: 1rem;
}

// CART ====================================

.block {
  border-radius: $border-radius-lg;
  box-shadow: 0 1px 0.35rem rgba(0, 0, 0, .15);
  overflow: hidden;
}

.cart-header {
  background-color: $gray-lightest-alt;
  padding: $spacer0 $spacer;
  cursor: pointer;
  line-height: 3rem;
  border-bottom: $border-width solid $gray-lightest;
  @include clearfix();

  h4 {
    float: left;
    margin-bottom: 0;
  }
}

.cart-units {
  float: right;

  .btn-group {
    margin-left: $spacer0;
  }
}

.cart-upload {
  display: block;
  margin: 0;
  cursor: pointer;
  text-align: center;
  line-height: 5rem;
  background: #fff;
  transition: .15s ease-out;

  &:hover {
    box-shadow: inset 0 0 5px $green;
  }

  &::before {
    content: '';
    display: inline-block;
    height: 30px;
    width: 65px;
    background: url('../../img/upload-icon.png') no-repeat center;
    background-size: contain;
    vertical-align: middle;
  }
}

// PICKER ====================================

.picker-wrapper {
  overflow-x: scroll;
  background: #fff;
  padding: 1.5rem 2rem 1rem;
  white-space: nowrap;
}

.picker-item {
  display: inline-block;
  text-align: center;
}

.picker-card {
  height: 300px;
  width: 190px;
  margin: 0 $spacer0 $spacer0 0;
  cursor: pointer;
  border-radius: $border-radius;
  border: 1px solid #e6e6e6;

  &:hover {
    border-color: $green;
  }
}

// FOOTER ====================================

.footer {
  background: $gray-dark;

  &,
  a,
  a:hover,
  a:active,
  a:focus {
    color: $gray-light;
  }

  .header {
    font-weight: bold;
    font-size: $fs;
    margin-bottom: 1rem;
  }
}

.footer-nav {
  padding: 2rem 0 2.5rem 0;
  @include clearfix();
}

.footer-copyright {
  background: $gray-darker;
  color: $gray-light;
  text-align: center;
  line-height: 3rem;
  font-size: 14px;
}

// GLOBALS ====================================

ul {
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}
